<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>      
      <img src="assets/icon/LogoSpashScreen.svg"> <span style="position:absolute;padding:35px;vertical-align: middle;font-weight: 800;font-family: Verdana, Geneva, Tahoma, sans-serif;">Pacotes de dados</span>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col>
      <ion-item lines="full">
        <ion-label class="ion-text-wrap pacote-header">
          Bacias Terrestres do Baixo Congo e do Kwanza
        </ion-label>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row routerLink="/tabs/ano2020/pacotesdedados/congo">
    <ion-col>
      <ion-item lines="full">
        <ion-label class="ion-text-wrap">
          BAIXO CONGO: Blocos CON1,CON5 e CON6
        </ion-label>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row routerLink="/tabs/ano2020/pacotesdedados/kwanza">
    <ion-col>
      <ion-item lines="full">
        <ion-label class="ion-text-wrap">
          KWANZA: Blocos KON5,KON6, KON8, KON9, KON17 e KON20
        </ion-label>
      </ion-item>
    </ion-col>
  </ion-row>
</ion-content>
 