
ion-content{
    --background: #fff url('/assets/img/bacias.png') no-repeat center center / cover;
}

.pacote-header{
    font-size: 30px;
    font-family: FranklinGothic-Medium;
}

ion-card, ion-item{
    --background: white;
    /*
    opacity: 0.8;
    fill: rgba(224,225,227,1);
    */
  }