ion-content {
  --background: #6e0010 url("../../../assets/img/angola2x.png") no-repeat right top;
}
ion-content ion-toolbar {
  --background: translucent;
}

.column {
  float: left;
  padding: 0 5px 5px 5px;
}

/* Remove extra left and right margins, due to padding in columns */
.row {
  margin: 0 -5px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .column {
    width: 50%;
    display: block;
    margin-bottom: 20px;
  }
}

.center-content {
  width: 50%;
  margin: 0 auto;
}

.vertical-line {
  border-left: 6px solid gray;
  height: 20px;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  top: 0;
}

.card-button-img {
  border-right: 2px solid gray;
  margin-right: 10px;
  padding-right: 10px;
  height: 40px;
  width: 40px;
}

.card-button {
  margin-left: 0px;
  margin-right: 10%;
  padding: 0px;
  border-radius: 12px;
  height: 55px;
  padding-top: 5px;
  margin-bottom: 0px;
  margin-top: 0px;
}

.card-button-text {
  font-family: FranklinGothic-Medium;
}

.bottom-card-button-img {
  width: 30px;
  padding-left: 2px;
  padding-right: 5px;;
}
ion-card,
ion-item {
  --background: white;
}




