<ion-content>
  <app-header></app-header>
  <ion-header collapse="condense" style="background-color: gray; color:white;">
    <ion-toolbar>
      <ion-title size="large">Sala de Imprensa</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid style="padding-top:40px">
      <ion-row class="ion-align-items-center"> 
        <ion-col>
          <ion-card class="card-button"> 
            <ion-item lines="none" (click)="goToNoticias()">            
                <img src="assets/icon/Noticias.svg" class="card-button-img"> 
              <ion-label class="card-button-text">
                Noticias
              </ion-label>
            </ion-item>
          </ion-card>
        </ion-col>    
      </ion-row>

      <ion-row class="ion-align-items-center"> 
        <ion-col>
          <ion-card class="card-button"> 
            <ion-item lines="none" >
                <img src="assets/icon/Entrevistas.svg" class="card-button-img"> 
              <ion-label class="card-button-text">
                Entrevistas
              </ion-label>
            </ion-item>
          </ion-card>
        </ion-col>    
      </ion-row>

      <ion-row class="ion-align-items-center"> 
        <ion-col>
          <ion-card class="card-button"> 
            <ion-item lines="none" >
                <img src="assets/icon/Videos.svg" class="card-button-img"> 
              <ion-label class="card-button-text">
                Vídeos
              </ion-label>
            </ion-item>
          </ion-card>
        </ion-col>    
      </ion-row>

      <ion-row class="ion-align-items-center"> 
        <ion-col>
          <ion-card class="card-button"> 
            <ion-item lines="none" >
                <img src="assets/icon/Artigos.svg" class="card-button-img"> 
              <ion-label class="card-button-text">
                Artigos
              </ion-label>
            </ion-item>
          </ion-card>
        </ion-col>    
      </ion-row>

      <ion-row class="ion-align-items-center"> 
        <ion-col>
          <ion-card class="card-button"> 
            <ion-item lines="none" >
                <img src="assets/icon/Apresentacoes.svg" class="card-button-img"> 
              <ion-label class="card-button-text">
                Apresentações
              </ion-label>
            </ion-item>
          </ion-card>
        </ion-col>    
      </ion-row>

      <ion-row class="ion-align-items-center"> 
        <ion-col>
          <ion-card class="card-button"> 
            <ion-item lines="none" >
                <img src="assets/icon/Galeria.svg" class="card-button-img"> 
              <ion-label class="card-button-text">
                Galeria
              </ion-label>
            </ion-item>
          </ion-card>
        </ion-col>    
      </ion-row>

      <app-oil-sticker></app-oil-sticker>


</ion-grid> 
  

</ion-content>
