<ion-content>
  <app-header title="Dados E&P"></app-header>
  <div class="tab">
    <ion-button  routerLink="/tabs/dados-eap/grafico" class="btn-tab-dados">
      <div>
      <img src="/assets/icon/new-icons/grafico.svg">
      Gráfico
     </div>
    </ion-button>
    <ion-button   routerLink="/tabs/dados-eap/dados" class="btn-tab-dados" >
    <div>
     <img src="/assets/icon/new-icons/dados.svg">
     Dados
    </div>
    </ion-button>
    <ion-button   routerLink="/tabs/dados-eap/filtro" class="btn-tab-dados" >
      <div>
      <img src="/assets/icon/new-icons/filtro.svg">
      Filtro
     </div>
    </ion-button>
  </div>
  <router-outlet></router-outlet>
</ion-content>
