<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>      
      <img src="assets/icon/LogoSpashScreen.svg"> <span style="position:absolute;padding:35px;vertical-align: middle;font-weight: 800;font-family: Verdana, Geneva, Tahoma, sans-serif;">Sala de Imprensa</span>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="background-color: transparent;height:20px;">
  </div>

  <div style="padding: 10px;">
    <a routerLink="/tabs/news">
      <div class="row" style="border-radius: 6px;background-color: white;height:60px;">
        <div>
          <img src="assets/icon/Noticias.svg" style="padding-top:10px;width: 48px;">                
            Noticias        
        </div>      
      </div>
    </a>
  </div>

  <div style="padding: 10px;">
    <div class="row" style="border-radius: 6px;background-color: white;height:60px;">
      <div>      
        <img src="assets/icon/Entrevistas.svg" style="padding-top:10px;width: 30px;">
          Entrevistas
      </div>
    </div>
  </div>

  <div style="padding: 10px;">
    <div class="row" style="border-radius: 6px;background-color: white;height:60px;">
      <img src="assets/icon/Videos.svg" style="padding-top:10px;width: 48px;">
      Vídeos
    </div>
  </div>

  <div style="padding: 10px;">
    <div class="row" style="border-radius: 6px;background-color: white;height:60px;">
      <img src="assets/icon/Artigos.svg" style="padding-top:10px;width: 48px;">
      Artigos
    </div>
  </div>

  <div style="padding: 10px;">
    <div class="row" style="border-radius: 6px;background-color: white;height:60px;">
      <img src="assets/icon/Apresentacoes.svg" style="padding-top:10px;width: 48px;">
      Apresentações
    </div>
  </div>

  <div style="padding: 10px;">
    <div class="row" style="border-radius: 6px;background-color: white;height:60px;">
      <img src="assets/icon/Galeria.svg" style="padding-top:10px;width: 48px;">      
      Galeria
    </div>
  </div>

  <ion-card style="background-color: whitesmoke; color:#000;">
    <div>
      <table style="width:100%;line-height: 24px;">
        <tr>
          <td rowspan="3">
            <img src="assets/icon/TickerBrent.svg" style="width: 48px;">
          </td>            
          <td>Petroleo Brent
          <br>56.73$</td>
          <td rowspan="3">
            <img src="assets/icon/TickerWITI.svg" style="width: 48px;">
          </td>
          <td>Petroleo WTI
          <br>56.73$</td>
          <td rowspan="3">
            <img src="assets/icon/TickerGas.svg" style="width: 48px;">
          </td>
          <td>Gás Natural
          <br>2.489$</td>
        </tr>
      </table>
    </div>
  </ion-card>  

  

</ion-content>
