<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="" (click)="goBack()"></ion-back-button>
    </ion-buttons>
    <ion-title>      
      <img src="assets/icon/LogoSpashScreen.svg"> <span style="position:absolute;padding:35px;vertical-align: middle;font-weight: 800;font-family: Verdana, Geneva, Tahoma, sans-serif;">Sala de Imprensa</span>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
      <ion-row class="ion-align-items-center"> 
        <ion-col>
          <ion-card class="card-button" > 
            <ion-item lines="none" (click)="goToNoticias()">
                <img src="assets/icon/Noticias.svg" class="card-button-img"> 
              <ion-label class="card-button-text">
                Noticias
              </ion-label>
            </ion-item>
          </ion-card>
        </ion-col>    
      </ion-row>

      <ion-row class="ion-align-items-center"> 
        <ion-col>
          <ion-card class="card-button"> 
            <ion-item lines="none" >
                <img src="assets/icon/Entrevistas.svg" class="card-button-img"> 
              <ion-label class="card-button-text">
                Entrevistas
              </ion-label>
            </ion-item>
          </ion-card>
        </ion-col>    
      </ion-row>

      <ion-row class="ion-align-items-center"> 
        <ion-col>
          <ion-card class="card-button"> 
            <ion-item lines="none" >
                <img src="assets/icon/Videos.svg" class="card-button-img"> 
              <ion-label class="card-button-text">
                Vídeos
              </ion-label>
            </ion-item>
          </ion-card>
        </ion-col>    
      </ion-row>

      <ion-row class="ion-align-items-center"> 
        <ion-col>
          <ion-card class="card-button"> 
            <ion-item lines="none" >
                <img src="assets/icon/Artigos.svg" class="card-button-img"> 
              <ion-label class="card-button-text">
                Artigos
              </ion-label>
            </ion-item>
          </ion-card>
        </ion-col>    
      </ion-row>

      <ion-row class="ion-align-items-center"> 
        <ion-col>
          <ion-card class="card-button"> 
            <ion-item lines="none" >
                <img src="assets/icon/Apresentacoes.svg" class="card-button-img"> 
              <ion-label class="card-button-text">
                Apresentações
              </ion-label>
            </ion-item>
          </ion-card>
        </ion-col>    
      </ion-row>

      <ion-row class="ion-align-items-center"> 
        <ion-col>
          <ion-card class="card-button"> 
            <ion-item lines="none" >
                <img src="assets/icon/Galeria.svg" class="card-button-img"> 
              <ion-label class="card-button-text">
                Galeria
              </ion-label>
            </ion-item>
          </ion-card>
        </ion-col>    
      </ion-row>


   <ion-row class="ion-align-self-center">
    <ion-col>
      <ion-card style="background-color: whitesmoke; color:#000; margin-left: 0px;" class="card-button-cotacao">
      <div>
          <table style="width:100%;line-height: 24px;">
            <tr>
              <td rowspan="3">
                <img src="assets/icon/TickerBrent.svg" class="bottom-card-button-img">
              </td>            
              <td class="card-button-text"><p style="line-height: 15px;">Petroleo Brent
              <br>56.73$</p></td>
              <td rowspan="3">
                <img src="assets/icon/TickerWITI.svg" class="bottom-card-button-img">
              </td>
              <td class="card-button-text"><p style="line-height: 15px;">Petroleo WTI
              <br>56.73$</p></td>
              <td rowspan="3">
                <img src="assets/icon/TickerGas.svg" class="bottom-card-button-img">
              </td>
              <td class="card-button-text"><p style="line-height: 15px;">Gás Natural
              <br/>2.489$</p></td>
            </tr>
          </table>
        </div>
      </ion-card>
    </ion-col>
  </ion-row>

</ion-grid> 
  

</ion-content>
