<ion-content>
  <app-header></app-header>
  <ion-header collapse="condense" style="background-color: gray; color:white;">
    <ion-toolbar>
      <ion-title size="large">Licitações</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid style="padding-top: 40px;">
      <ion-row class="ion-align-items-center"> 
        <ion-col>
          <ion-card class="card-button" > 
            <ion-item lines="none" style="cursor:pointer;">
              <ion-label class="card-button-text">
                Estratégia
              </ion-label>
            </ion-item>
          </ion-card>
        </ion-col>    
      </ion-row>

      <ion-row class="ion-align-items-center"> 
        <ion-col>
          <ion-card class="card-button"> 
            <ion-item lines="none" style="cursor:pointer;">
              <ion-label class="card-button-text">
                Adjudicações
              </ion-label>
            </ion-item>
          </ion-card>
        </ion-col>    
      </ion-row>

      <ion-row class="ion-align-items-center"> 
        <ion-col>
          <ion-card class="card-button"> 
            <ion-item lines="none" style="cursor:pointer;">
              <ion-label class="card-button-text">
                RoadShows
              </ion-label>
            </ion-item>
          </ion-card>
        </ion-col>    
      </ion-row>

      <ion-row class="ion-align-items-center"> 
        <ion-col>
          <ion-card class="card-button"> 
            <ion-item lines="none" routerLink="/tabs/ano2020/pacotesdedados" style="cursor:pointer;">
              <ion-label class="card-button-text">
                Pacotes de Dados
              </ion-label>
            </ion-item>
          </ion-card>
        </ion-col>    
      </ion-row>
  </ion-grid> 

  <app-oil-sticker></app-oil-sticker>

</ion-content>

