<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Objectivos Estratégicos</ion-title>
  </ion-toolbar>
</ion-header>
 -->
  <ion-content>
    <app-header></app-header>
    <ion-row style="padding-top: 40px;">
      <ion-col>
        <ion-item lines="full">
          <ion-label class="ion-text-wrap pacote-header">
            Objectivos Estratégicos
        </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item lines="full">
          <ion-label class="ion-text-wrap pacote-header">
            i. Consolidar e optimizar a função reguladora, fiscalizadora e concessionária na ANPG;
            ii. Impulsionar e intensificar a substituição de reservas, visando atenuar o declínio acentuado da produção de hidrocarbonetos;
            iii. Garantir implementação de políticas de saúde, segurança e ambiente
            iv. mplementar políticas que visam o desenvolvimento do capital humano
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-content>
