ion-content {
    --background: #818386 url("/assets/img/angola2x.png") no-repeat right top;
  }

  
  ion-col{
    opacity: 0.8;
  }
  
  .class-texto{
    font-family: Franklin Gothic Book;
    font-size: 1rem;
  }