  <ion-content>
    <app-header title="Quem Somos"></app-header>
    <ion-row style="padding-top: 40px;">
      <ion-col>
        <ion-item lines="full">
          <ion-label class="ion-text-wrap pacote-header class-texto">
            AGÊNCIA NACIONAL DE PETRÓLEO, GÁS E BIOCOMBUSTÍVEIS (ANPG)
        </ion-label>
        </ion-item>
        </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item lines="full">
          <ion-label class="ion-text-wrap pacote-header class-texto">
            <p>A Agência Nacional de Petróleo, Gás e Biocombustíveis, abreviadamente designada por “Agência” ou “ANPG”, foi criada em 2019 por via do Decreto Presidencial n.º 49/19, de 6 de Fevereiro, em resultado do programa de reorganização do sector petrolífero em Angola. Entre as acções tomadas para a reestruturação do sector, aprovou-se a transferência da função Concessionária, anteriormente detida pela Sonangol E.P., para a Agência recém-criada, de forma a assegurar uma maior coordenação política, aumentar a eficácia dos processos e criar condições para as actividades de investimento privado na indústria petrolífera nacional.</p>
            <br/>
            <p>A ANPG passou a ser a Concessionária Nacional com as atribuições específicas de regular, fiscalizar e promover a execução das actividades petrolíferas no domínio das operações e contratação do sector de petróleos, gás e biocombustíveis. Através do Decreto Presidencial n.º 52/19, de 18 de Fevereiro, foi aprovada a Estratégia Geral de Atribuição de Concessões Petrolíferas para o período 2019-2025.</p>
            <br/>
            <p>A 18 de Fevereiro foi nomeado o Conselho de Administração (CA) da ANPG, através do Decreto Presidencial n.º 61/19, e distribuídos os pelouros para cada administrador. Esta equipa de gestão tem trabalhado na transição da função Concessionária com o apoio do MIREMPET e na criação de um Plano Estratégico estável e coerente que dê resposta aos objectivos definidos pelo Executivo para o sector e para a ANPG.</p>
            <br/>
            <p>A transição física dos colaboradores da ANPG foi concluída a 26 de Julho de 2019, tendo sido implementada em duas etapas. A ANPG tem a sua sede em Luanda no Edifício Torres do Carmo, Torre 2, Rua Lopes de Lima, Distrito Urbano da Ingombota e conta actualmente com cerca de 600 trabalhadores.</p>
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-content>
