<ion-content>
  <app-header title="Mapas"></app-header>
  <!-- <ion-progress-bar [type]="'indeterminate'" *ngIf="showLoader"></ion-progress-bar>
  <h4>Upload Progress <span *ngIf="showLoader">Teste da %</span></h4> -->
  <ion-row style="padding-top: 40px;" (click)="OpenMapa1PDF()" expand="full">
    <ion-col >
      <ion-item lines="full"><ion-label class="ion-text-wrap pacote-header">
      MAPA LICITAÇÃO 2020
      </ion-label>
      </ion-item>
      <img src="assets/img/3367-OUT-19-GIS-GAD-MAPA-GERAL-DOS-BLOCOS-DO-KWANZA-DO-CONGO-LICITACAO-2020-1-212x300.jpg"> 
    </ion-col>
  </ion-row>
  
  <ion-row (click)="OpenMapa2PDF()" expand="full">
    <ion-col >
      <ion-item lines="full"><ion-label class="ion-text-wrap pacote-header">
        MAPA DE POÇOS E SISMICA DO CONGO ONSHORE – LICITAÇÃO 2020
      </ion-label>
      </ion-item>
      <img src="assets/img/MAPA-DE-POÇOS-E-SISMICA-DO-CONGO-ONSHORE-LICITAÇÃO-2020-212x300.jpg"> 
    </ion-col>
  </ion-row>
  
  <ion-row (click)="OpenMapa3PDF()" expand="full">
    <ion-col >
      <ion-item lines="full"><ion-label class="ion-text-wrap pacote-header">
        MAPA DE POÇOS E SISMICA DO KWANZA ONSHORE – LICITAÇÃO 2020
      </ion-label>
      </ion-item>
      <img src="assets/img/MAPA-DE-POÇOS-E-SISMICA-DO-KWANZA-ONSHORE-LICITAÇÃO-2020-212x300.jpg"> 
    </ion-col>
  </ion-row>
  
  <ion-row (click)="OpenMapa4PDF()" expand="full">
    <ion-col >
      <ion-item lines="full"><ion-label class="ion-text-wrap pacote-header">
        MAPA DE CONCESSÕES
      </ion-label>
      </ion-item>
      <img src="assets/img/MAPA-DE-CONCESSÕES--216x300.png"> 
    </ion-col>
  </ion-row>

  <ion-row (click)="OpenMapa5PDF()" expand="full">
    <ion-col >
      <ion-item lines="full"><ion-label class="ion-text-wrap pacote-header">
        COMPANHIAS DE PETRÓLEO
      </ion-label>
      </ion-item>
      <img src="assets/img/COMPANHIAS-DE-PETRÓLEO--209x300.jpg"> 
    </ion-col>
  </ion-row>

  <ion-row (click)="OpenMapa6PDF()" expand="full">
    <ion-col >
      <ion-item lines="full"><ion-label class="ion-text-wrap pacote-header">
        COMPARATIVE BASIN STRATIGRAPHY CONGO
      </ion-label>
      </ion-item>
      <img src="assets/img/COMPARATIVE-BASIN-STRATIGRAPHY-CONGO--215x300.png"> 
    </ion-col>
  </ion-row>

  <ion-row (click)="OpenMapa7PDF()" expand="full">
    <ion-col >
      <ion-item lines="full"><ion-label class="ion-text-wrap pacote-header">
        HISTÓRICO DE PRODUÇÃO
      </ion-label>
      </ion-item>
      <img src="assets/img/GAD202009-DGH0002-P-HISTÓRICO-DE-PRODUÇA-O--215x300.png"> 
    </ion-col>
  </ion-row>

  <ion-row (click)="OpenMapa8PDF()" expand="full">
    <ion-col >
      <ion-item lines="full"><ion-label class="ion-text-wrap pacote-header">
        PROGRAMA LICITAÇÃO 2019-2025
      </ion-label>
      </ion-item>
      <img src="assets/img/PROGRAMA-LICITAÇÃO-2019-2025--232x300.jpg"> 
    </ion-col>
  </ion-row>

  <ion-row (click)="OpenMapa9PDF()" expand="full">
    <ion-col >
      <ion-item lines="full"><ion-label class="ion-text-wrap pacote-header">
        MAPA DE SÍSMICA 2D
      </ion-label>
      </ion-item>
      <img src="assets/img/MAPA-DE-SÍSMICA-2D--212x300.jpg"> 
    </ion-col>
  </ion-row>

  <ion-row (click)="OpenMapa10PDF()" expand="full">
    <ion-col >
      <ion-item lines="full"><ion-label class="ion-text-wrap pacote-header">
        MAPA DE SÍSMICA 3D
      </ion-label>
      </ion-item>
      <img src="assets/img/MAPA-DE-SÍSMICA-3D--212x300.jpg"> 
    </ion-col>
  </ion-row>

  <ion-row (click)="OpenMapa11PDF()" expand="full">
    <ion-col >
      <ion-item lines="full"><ion-label class="ion-text-wrap pacote-header">
        MAPA GERAL DO NAMIBE
      </ion-label>
      </ion-item>
      <img src="assets/img/MAPA-GERAL-DO-NAMIBE--212x300.jpg"> 
    </ion-col>
  </ion-row>

</ion-content>
