<ion-content>
  <app-header title="Decretos Presidenciais"></app-header>
  <ion-row style="padding-top: 40px;" (click)="openDec3_12PDF()" expand="full">
    <ion-col class="ion-no-padding col-padding">
      <ion-item lines="full">
        <ion-label class="ion-no-margin" class="ion-text-wrap">
          Decreto Legislativo Presidencial nº3/12
        </ion-label>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row (click)="openDec17_9PDF()" expand="full">
    <ion-col class="ion-no-padding col-padding">
      <ion-item lines="full">
        <ion-label class="ion-no-margin" class="ion-text-wrap">
          Decreto Lei nº 17/9
        </ion-label>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row (click)="openDec2_12PDF()" expand="full">
    <ion-col class="ion-no-padding col-padding">
      <ion-item lines="full">
        <ion-label class="ion-no-margin" class="ion-text-wrap">
          Decreto Lei nº 2/12
        </ion-label>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row (click)="openDec11_04DF()" expand="full">
    <ion-col class="ion-no-padding col-padding">
      <ion-item lines="full">
        <ion-label class="ion-no-margin" class="ion-text-wrap">
          Lei Sobre o Regime Aduaneiro Aplicavel ao sec. Petrolífero nº11/04
        </ion-label>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row (click)="openDec13_04PDF()" expand="full">
    <ion-col class="ion-no-padding col-padding">
      <ion-item lines="full">
        <ion-label class="ion-no-margin" class="ion-text-wrap">
          Lei Sobre a Tributação das Actividades Petrolíferas nº13/04
        </ion-label>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row (click)="openDec86_18PDF()" expand="full">
    <ion-col class="ion-no-padding col-padding">
      <ion-item lines="full">
        <ion-label class="ion-no-margin" class="ion-text-wrap">
          Decreto Presidencial nº86/18
        </ion-label>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row (click)="openDec52_19PDF()" expand="full">
    <ion-col class="ion-no-padding col-padding">
      <ion-item lines="full">
        <ion-label class="ion-no-margin" class="ion-text-wrap">
          Decreto Presidencial nº 52/19
        </ion-label>
      </ion-item>
    </ion-col>
  </ion-row>

  <app-oil-sticker></app-oil-sticker>
  
</ion-content>
 
