<ion-content>
  <app-header title="Sala de Imprensa | Noticias"></app-header>
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Notícias</ion-title>
    </ion-toolbar>
  </ion-header> -->

  <div>
    <img [src]="noticia$.img" style="width:100%">
  </div>
  <div>
      <div style="padding:10px;">
        <span class="news-detalhe-sector"><b>{{ noticia$.sector }}</b></span>
        <h4 class="news-detalhe-title"><b>{{ noticia$.title }}</b></h4>
        <hr>
        <div class="news-detalhe-text" [innerHTML]="noticia$.text"></div>
      </div>
  </div>
</ion-content>
