<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/news/"></ion-back-button>
    </ion-buttons>
    <ion-title>      
      <img src="assets/icon/LogoSpashScreen.svg"> <span style="position:absolute;padding:35px;vertical-align: middle;font-weight: 800;font-family: Verdana, Geneva, Tahoma, sans-serif;">Notícias</span>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <img [src]="noticia$.img | async" style="width: 100%;">
  </div>
  <div>
      <div style="padding:10px;">
        <h5{{ this.noticia$.title | async }}></h5>        
        {{ this.noticia$.text | async }}
      </div>
  </div>
</ion-content>
