<ion-header>
  <ion-toolbar>
    <ion-title>
      App ANPG
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style='position:absolute;width:100%;height:100%;top:0;left:0;'>
    <img  class="responsive" style='position:absolute;width:100%;height:100%;top:0;left:0;' src="assets/img/plataforma.png" alt="" />
  </div>

  <div style="width:100%;height: 100%;">
    <ion-grid>
      <ion-row>
        <ion-col style="text-align: center;">
          <ion-card class="card-button-top">
            <ion-icon class="card-button-img" name="map-outline"></ion-icon>
            <ion-card-header>        
              <ion-card-title class="card-button-text">Mapa Interativo</ion-card-title>
            </ion-card-header>
          </ion-card>      
        </ion-col>

      </ion-row>      
      <ion-row>
        <ion-col style="text-align: center;">
          <ion-card class="card-button">
            <ion-icon class="card-button-img" name="add-circle-outline"></ion-icon>
            <ion-card-header>        
              <ion-card-title class="card-button-text">Sala de Imprensa</ion-card-title>
            </ion-card-header>
          </ion-card>      
        </ion-col>
        <ion-col style="text-align: center;">
          <ion-card class="card-button">
            <ion-icon class="card-button-img" name="map-outline"></ion-icon>
            <ion-card-header>        
              <ion-card-title class="card-button-text">Dados E&P</ion-card-title>
            </ion-card-header>
          </ion-card>      
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col style="text-align: center;">
          <ion-card class="card-button">
            <ion-icon class="card-button-img" name="map-outline"></ion-icon>
            <ion-card-header>        
              <ion-card-title class="card-button-text">Informação Jurídica</ion-card-title>
            </ion-card-header>
          </ion-card>      
        </ion-col>
        <ion-col style="text-align: center;">
          <ion-card class="card-button">
            <ion-icon class="card-button-img" name="map-outline"></ion-icon>
            <ion-card-header>        
              <ion-card-title class="card-button-text">Licitações</ion-card-title>
            </ion-card-header>
          </ion-card>      
        </ion-col>
      </ion-row>    

      <ion-row>
        <ion-col style="text-align: center;">
          <ion-card class="card-button">
            <ion-icon class="card-button-img" name="map-outline"></ion-icon>
            <ion-card-header>        
              <ion-card-title class="card-button-text">Favoritos</ion-card-title>
            </ion-card-header>
          </ion-card>      
        </ion-col>
        <ion-col style="text-align: center;">
          <ion-card class="card-button">
            <ion-icon class="card-button-img" name="map-outline"></ion-icon>
            <ion-card-header>        
              <ion-card-title class="card-button-text">Agendamento de Data Room</ion-card-title>
            </ion-card-header>
          </ion-card>      
        </ion-col>
      </ion-row>      

      <ion-row>
        <ion-col style="text-align: center;">
          <ion-card class="card-button">
            <ion-icon class="card-button-img" name="map-outline"></ion-icon>
            <ion-card-header>        
              <ion-card-title class="card-button-text">Glossario</ion-card-title>
            </ion-card-header>
          </ion-card>      
        </ion-col>
        <ion-col style="text-align: center;">
          <ion-card class="card-button">
            <ion-icon class="card-button-img" name="map-outline"></ion-icon>
            <ion-card-header>        
              <ion-card-title class="card-button-text">FAQ's</ion-card-title>
            </ion-card-header>
          </ion-card>      
        </ion-col>
      </ion-row>      
    </ion-grid>

    <ion-card style="background-color: whitesmoke; color:#000;">
      <div>
        <table style="width:100%;line-height: 24px;">
          <tr>
            <td>Petroleo Brent</td>
            <td>Petroleo WTI</td>
            <td>Gás Natural</td>
          </tr>
          <tr>
            <td>56.73$</td>
            <td>56.73$</td>
            <td>2.489$</td>
          </tr>
        </table>
      </div>
    </ion-card>

  </div>
  <!--<app-explore-container name="Tab 1 page"></app-explore-container>-->
  <!--<img id="Group_1765" src="assets/img/plataforma.png">-->
</ion-content>
