ion-content {
  --background: linear-gradient(white, silver, white);
}

ion-button { 
  --background:darkred;
}

.news-text {
  font-family: Bahnschrift-SemiLightSemiCondensed;
  color: black !important;
  font-size:10px;
}

.news-img {
  width: 40px;
}
