<ion-content>
  <app-header title="Licitações"></app-header>

  <ion-grid style="padding-top: 40px;">
      <ion-row class="ion-align-items-center"> 
        <ion-col>
          <ion-card class="card-button" > 
            <ion-item lines="none" routerLink="ano2019">
                <img src="assets/icon/LicitacoesAno.svg" class="card-button-img"> 
              <ion-label class="card-button-text">
                2019
              </ion-label>
            </ion-item>
          </ion-card>
        </ion-col>    
      </ion-row>

      <ion-row class="ion-align-items-center"> 
        <ion-col>
          <ion-card class="card-button"> 
            <ion-item lines="none" routerLink="ano2020">
                <img src="assets/icon/LicitacoesAno.svg" class="card-button-img"> 
              <ion-label class="card-button-text">
                2020
              </ion-label>
            </ion-item>
          </ion-card>
        </ion-col>    
      </ion-row>

     <!--  <ion-row class="ion-align-items-center"> 
        <ion-col>
          <ion-card class="card-button"> 
            <ion-item lines="none" >
                <img src="assets/icon/LicitacoesAno.svg" class="card-button-img"> 
              <ion-label class="card-button-text">
                2021
              </ion-label>
            </ion-item>
          </ion-card>
        </ion-col>    
      </ion-row> -->

  </ion-grid> 

  <app-oil-sticker></app-oil-sticker>
  
</ion-content>


