<ion-content>
  <app-header title="Agendamento de Data Room"></app-header>
  <div style="padding: 20px;">  
    <ion-calendar [(ngModel)]="date"
          (onChange)="onChange($event)"
          (onClick)="onChange($event)"
          [options]="calendarOptions"          
          [type]="type"
          [format]="'YYYY-MM-DD'"          
          style="border-radius: 10px;">
    </ion-calendar>

    <div style="padding-top: 5px;">
      <ion-item style="border-radius: 10px;max-height:60px;" lines="none">
        <ion-label position="stacked">Nome</ion-label>
        <ion-input [(ngModel)]="nome"></ion-input>
      </ion-item>      
    </div>
    
    <div style="padding-top: 2px;">
      <table style="width: 100%;">
        <tr>
          <td style="padding:3px">
            <ion-item style="border-radius: 10px;max-height:60px;" lines="none">
              <ion-label position="stacked">Empresa</ion-label>
              <ion-input [(ngModel)]="empresa"></ion-input>
            </ion-item>      
          </td>
          <td style="padding:3px">
            <ion-item style="border-radius: 10px;max-height:60px;" lines="none">
              <ion-label position="stacked">No de Visitantes</ion-label>
              <ion-input type="number" [(ngModel)]="qtdeVisitantes"></ion-input>
            </ion-item>            
          </td>
        </tr>
      </table>
    </div>

    <div style="padding-top: 2px;">
      <ion-item style="border-radius: 10px;max-height:60px;" lines="none">
        <ion-label position="stacked">E-mail</ion-label>
        <ion-input type="email" [(ngModel)]="email"></ion-input>
      </ion-item>      
    </div>

    <div style="padding-top: 5px;">
      <ion-item style="border-radius: 10px;max-height:60px;" lines="none">
        <ion-label position="stacked">&Aacute;rea de interesse</ion-label>
        <ion-input [(ngModel)]="areaInteresse"></ion-input>
      </ion-item>      
    </div>

    <div style="padding-top: 5px;">
        <ion-button (click)="submeter()" style="border-radius: 30px;">
          <ion-label style="font-size: 12px;">Submeter</ion-label>
        </ion-button>         
        <div style="float: right;" alt="Legenda" title="Legenda">
          <ion-item lines="none" style="border-radius: 20px;font-size: 10px;">
            <ion-icon name="ellipse" [style.color]="'#EF3B51'" ></ion-icon> <span style="padding-right: 10px;"> Ocupado</span>
            <ion-icon name="ellipse-outline"></ion-icon> <span> Dispon&iacute;vel</span>
          </ion-item>
        </div>
    </div>

    <ng-container *ngIf='errorMessage && errorMessage != ""'>
      <div style="padding-top: 5px;">
        <ion-item lines="none" style="border-radius: 10px;">        
          <ion-label style="font-weight: 600;color:red;">
            {{ errorMessage }}
          </ion-label>          
        </ion-item>
      </div>
    </ng-container>

    <ng-container *ngIf='successMessage && successMessage != ""'>
      <div style="padding-top: 5px;">
        <ion-item lines="none" style="border-radius: 10px;">        
          <ion-label style="font-weight: 600;color:green;">
            {{ successMessage }}
          </ion-label>
        </ion-item>
      </div>
    </ng-container>
  </div>

  <app-oil-sticker></app-oil-sticker>

  <div style="height:50px;">
  </div>
  
</ion-content>

