ion-content {
  --background: darkred url("../../../assets/img/angola2x.png") no-repeat right
    top;
}
ion-content ion-toolbar {
  --background: translucent;
}
ion-item,
ion-calendar,
ion-list,
ion-grid,
ion-row {
  --background: whitesmoke;  
  opacity: 0.8;
}  

::ng-deep div.days {
  height: 20px!important;
}

item-native {
  max-height: 15px;
}

.days-btn on-selected {
  background-color: darkred;
}

.primary .days .on-selected, 
.primary .startSelection button.days-btn,
.primary .endSelection button.days-btn {
  background-color: darkred!important;
}

.label-stacked.sc-ion-label-ios-h {
  margin-bottom: 4px;
  font-size: 10px;
}

ion-label .sc-ion-label-ios-h sc-ion-label-ios-s ios hydrated {
  font-size: 10px;
}
