<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>      
      <img src="assets/icon/LogoSpashScreen.svg"> <span style="position:absolute;padding:35px;vertical-align: middle;font-weight: 800;font-family: Verdana, Geneva, Tahoma, sans-serif;">Notícias</span>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <img src="assets/img/noticia_5_2x.png" style="width: 100%;">
    <div style="height:28px;background-color: darkred;color:white;padding-top: -3px;">
      <div style="padding-left: 10px;padding-top: 5px;">
      <b>INOVAÇÃO </b> <span style="color:yellow">| REGULAÇÃO | CAPITAL HUMANO</span>
      </div>
    </div>
  </div>
  <div>
    <ng-container *ngFor='let item of noticias$ | async'>
        <div style="padding:10px;cursor: pointer;">
          <table>
            <a (click)="detalhe(item)">
              <tr>
                <td rowspan="2" style="max-width: 30%;"><img [src]="item.img" style="max-width:80px;"></td>
                <td rowspan="2" style="padding-left:10px;text-align: left;vertical-align: top;">
                  <b>{{ item.title }}</b><br>
                  {{ item.text.substring(1,150) }}
                </td>              
              </tr>
            </a>
          </table>
        </div>        
    </ng-container>
  </div>
</ion-content>
