<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>      
      <img src="assets/icon/LogoSpashScreen.svg"> <span style="position:absolute;padding:35px;vertical-align: middle;font-weight: 800;font-family: Verdana, Geneva, Tahoma, sans-serif;">Notícias</span>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <img src="assets/img/noticia_5_2x.png" style="width: 100%;">
    <div style="height:28px;background-color: darkred;color:white;padding-top: -3px;">
      <div style="padding-left: 10px;padding-top: 5px;">
      <b>INOVAÇÃO </b> <span style="color:yellow">| REGULAÇÃO | CAPITAL HUMANO</span>
      </div>
    </div>
  </div>

    <ion-list>
      <button (click)="expandItem(item)" ion-item *ngFor="let item of items">
        <ion-card style="width:500px">
          <ion-card-header>
            <img [src]='item.img'>            
            <ion-card-title>{{ item.sector }}</ion-card-title>
          </ion-card-header>      
          <app-expandable [height]="heightHeight" [expanded]="item.expanded">
            <ion-card-content>
              {{ item.text }}
            </ion-card-content>
          </app-expandable>
        </ion-card>
      </button>
    </ion-list>
</ion-content>

