<ion-content>
  <app-header title="Sobre a ANPG"></app-header>

  <ion-grid style="padding-top: 40px;">
  
  
      <ion-row class="ion-align-items-center"> 
        <ion-col>
          <ion-card class="card-button" > 
            <ion-item lines="none" routerLink="quemsomos">
                <img src="assets/icon/QuemSomos.svg" class="card-button-img"> 
              <ion-label class="card-button-text">
                Quem Somos
              </ion-label>
            </ion-item>
          </ion-card>
        </ion-col>    
      </ion-row>

      <ion-row class="ion-align-items-center"> 
        <ion-col>
          <ion-card class="card-button"> 
            <ion-item lines="none" routerLink="missao">
                <img src="assets/icon/MissaoVisaoValores.svg" class="card-button-img"> 
              <ion-label class="card-button-text">
                Missão, Visão, Valores
              </ion-label>
            </ion-item>
          </ion-card>
        </ion-col>    
      </ion-row>

      <ion-row class="ion-align-items-center"> 
        <ion-col>
          <ion-card class="card-button"> 
            <ion-item lines="none" routerLink="mensagem">
                <img src="assets/icon/MensagemPCA.svg" class="card-button-img"> 
              <ion-label class="card-button-text">
                Mensagem do PCA
              </ion-label>
            </ion-item>
          </ion-card>
        </ion-col>    
      </ion-row>

      <ion-row class="ion-align-items-center"> 
        <ion-col>
          <ion-card class="card-button"> 
            <ion-item lines="none" routerLink="conselhoadministracao">
                <img src="assets/icon/ConselhoAdmni.svg" class="card-button-img"> 
              <ion-label class="card-button-text">
                Conselho de Administração
              </ion-label>
            </ion-item>
          </ion-card>
        </ion-col>    
      </ion-row>

      <ion-row class="ion-align-items-center"> 
        <ion-col>
          <ion-card class="card-button"> 
            <ion-item lines="none" routerLink="objetivosestrategicos">
                <img src="assets/icon/ObjEstrategicos.svg" class="card-button-img"> 
              <ion-label class="card-button-text">
                Objectivos Estratégicos
              </ion-label>
            </ion-item>
          </ion-card>
        </ion-col>    
      </ion-row>

  </ion-grid> 

  <app-oil-sticker></app-oil-sticker> 
  
</ion-content>
