<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>      
      <img src="assets/icon/LogoSpashScreen.svg"> <span style="position:absolute;padding:35px;vertical-align: middle;font-weight: 800;font-family: Verdana, Geneva, Tahoma, sans-serif;">Agendamento de Data Room</span>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="background-color: transparent;height:20px;">
  </div>

  <div style="padding: 10px;">
  </div>

</ion-content>
