  <ion-content>
    <app-header title="Mensagem do PCA"></app-header>
    <ion-row style="padding-top: 40px;">
      <ion-col>
        <ion-item lines="full">
          <ion-label class="ion-text-wrap pacote-header class-texto">
            Mensagem do PCA
        </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item lines="full">
          <ion-label class="ion-text-wrap pacote-header class-texto">
            <p>A criação da ANPG foi uma iniciativa audaz e importante do Governo angolano no âmbito do plano de reorganização do sector petrolífero. O petróleo é dos recursos mais estratégicos de Angola, representando hoje mais de 90% das exportações totais do País, aproximadamente 20% do PIB nacional e 40% das receitas fiscais do Estado. No quadro dos esforços para melhorar o ambiente de negócios em Angola, como promotores, reguladores e fiscalizadores do sector, compete-nos assegurar não só a definição de uma visão estratégica ambiciosa para a ANPG, como também a adopção de uma conduta exemplar dentro e fora da Organização.</p>
            <br/>
            <p>Para cumprir com sucesso o nosso propósito, focamos os esforços diários das nossas equipas na procura de respostas efectivas aos desafios que hoje condicionam o melhor desenvolvimento e desempenho do sector petrolífero. Os nossos dias têm sido uma procura constante de opções estratégicas e operacionais, que visam dar resposta ao declínio natural de produção que se verifica nos últimos anos nos principais blocos, à queda do volume de investimento na exploração de petróleo e gás, aos reduzidos incentivos que permitem o desenvolvimento de campos marginais, ou mesmo à aproximação do fim dos prazos dos contratos de concessão dos principais blocos em produção.</p>
            <br/>
            <p>Com o Plano Estratégico 2019-2023, apresentamos uma abordagem clara de como concretizar a nossa Missão e a Visão, estabelecendo um marco importante deste primeiro ano da nossa existência. Pretendemos uma ANPG que seja entidade de referência internacional, motor de iniciativas relevantes que visem a melhoria do ambiente de negócios nacional, promovam uma imagem mais atractiva de Angola e reposicionem internacionalmente a oferta do sector.</p>
            <br/>
            <p>Não só traçamos o nosso caminho, como também registamos muitas outras conquistas importantes. A gestão da autonomização da função Concessionária foi um processo com elevado grau de complexidade, que contou com o compromisso, envolvimento e dedicação de todos os colaboradores. Actualmente podemo-nos orgulhar de estarmos já a trabalhar na optimização e consolidação das nossas estruturas e processos.</p>
            <p>Na vertente de atenuar o declínio acentuado da produção de hidrocarbonetos, estabelecemo-nos como verdadeiros parceiros do sector em que nos engajamos de forma assertiva.</p>
            <br/>
            <p>Consistente com a estratégia estabelecida pelo Governo, após 6 (seis) anos sem realização de licitações regulares, investimos esforços na implementação de uma estratégia de atribuição de concessões que visa licitar mais de 50 blocos entre 2019 e 2025. A primeira fase, o programa de licitação de 2019, contou com os nossos melhores esforços e em nada deixou a dever às melhores referências internacionais.</p>
            <br/>
            <p>Reconhecendo a urgência na geração de valor para o País, iniciamos uma estreita colaboração com os Operadores petrolíferos para a materialização de oportunidades concretas que deverão impulsionar o sector já a partir de 2020.
            <br/>
            <p>Em resultado do estreitamento destas relações e do comprometimento de todos com os melhores interesses de Angola, fomos capazes de garantir a concretização de importantes avanços para o sector. Destacamos a assinatura dos Acordos Comerciais que instituíram o Novo Consórcio de Gás, a aprovação do programa de redesenvolvimento do Bloco 15, o início de discussões de âmbito semelhante nos Blocos 17 e 14, e a aceleração da maturação de oportunidades marginais no Bloco 0, 18 e 31. Todos estes compromissos encontram-se já reflectidos nos programas de trabalho dos Operadores para os próximos anos. Ao materializar essas oportunidades concretas, salvaguardamos que o sector petrolífero é impulsionado já a partir do ano 2020 e desenvolve soluções de sustentabilidade para os anos seguintes.</p>
            <br/>
            <p>Posto isto, resta-nos olhar para o futuro com a convicção de que queremos ir mais longe. Pretendemos manter a nossa resiliência, concluir e consolidar a autonomia da Agência e elevar os nossos padrões de trabalho ao nível de excelência pretendido.</p>
            <p>Bloco a Bloco contruiremos a ANPG e transformaremos o sector!</p>
            <br/>
            <p>Paulino Jerónimo</p>
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-content>
