ion-content {
    --background: linear-gradient(white, silver, white);
  }
  
  .news-detalhe-sector {
    font-family: Bahnschrift-SemiLightSemiCondensed;
    font-size: 6px;
  }
  
  .news-detalhe-title {
    font-family: Bahnschrift-SemiCondensed;
    font-size: 11px;
  }
  
  .news-detalhe-text {
    font-family: Bahnschrift-SemiLightSemiCondensed;
    font-size: 9px;    
  }