<!-- <ion-header>
  <ion-toolbar>
    <ion-title>conselhoadministracao</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <app-header></app-header>
  <ion-row style="padding-top: 40px;">
    <ion-col>
      <ion-item lines="full">
        <ion-label class="ion-text-wrap pacote-header">
          Conselho de Administração e distribuição dos pelouros da ANPG
      </ion-label>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row >
    <ion-col >
      <img src="assets/img/vv@4x-150x150.png"> 
    </ion-col>
  </ion-row>
  <ion-row >
    <ion-col>
      <ion-item lines="full">
        <ion-label class="ion-text-wrap pacote-header">
          Presidente do Conselho de Administração <strong>Paulino Jerónimo</strong>
      </ion-label>
      </ion-item>
    </ion-col>
  </ion-row>
  <app-mi-accordion name="Ver Mais" image="assets/img/Group-113@2x.png" description=""></app-mi-accordion>
  
  <ion-row >
    <ion-col >
      <img src="assets/img/Artboard-3@4x-150x150.png"> 
    </ion-col>
  </ion-row>
  <ion-row >
    <ion-col>
      <ion-item lines="full">
        <ion-label class="ion-text-wrap pacote-header">
          Administradora <strong>Natacha Massano</strong>
      </ion-label>
      </ion-item>
    </ion-col>
  </ion-row>
  <app-mi-accordion name="Ver Mais" image="assets/img/direcção-de-negociações-153x300.png" description=""></app-mi-accordion>

  <ion-row >
    <ion-col >
      <img src="assets/img/Artboard-4@4x-150x150.png"> 
    </ion-col>
  </ion-row>
  <ion-row >
    <ion-col>
      <ion-item lines="full">
        <ion-label class="ion-text-wrap pacote-header">
          Administrador <strong>Belarmino Chitangueleca</strong>
      </ion-label>
      </ion-item>
    </ion-col>
  </ion-row>
  <app-mi-accordion name="Ver Mais" image="assets/img/direcção-de-exploração--124x300.png" description=""></app-mi-accordion>

  <ion-row >
    <ion-col >
      <img src="assets/img/Artboard-5@4x-150x150.png"> 
    </ion-col>
  </ion-row>
  <ion-row >
    <ion-col>
      <ion-item lines="full">
        <ion-label class="ion-text-wrap pacote-header">
          Administrador <strong>César Paxi</strong>
      </ion-label>
      </ion-item>
    </ion-col>
  </ion-row>
  <app-mi-accordion name="Ver Mais" image="assets/img/gabinete-jurídico.png" description=""></app-mi-accordion>

  <ion-row >
    <ion-col >
      <img src="assets/img/Artboard-6@4x-150x150.png"> 
    </ion-col>
  </ion-row>
  <ion-row >
    <ion-col>
      <ion-item lines="full">
        <ion-label class="ion-text-wrap pacote-header">
          Administrador <strong>Gérson dos Santos</strong>
      </ion-label>
      </ion-item>
    </ion-col>
  </ion-row>
  <app-mi-accordion name="Ver Mais" image="assets/img/direcção-de-administração-e-finanças.png" description=""></app-mi-accordion>


<!-- <ion-card>
  < !-- <img src="/assets/img/ANPG_OrganigramaV2-01-1024x921.png" alt=""> -- >
 < !--  <img width="1024" height="921" src="/assets/img/ANPG_OrganigramaV2-01-1024x921.png" alt="" loading="lazy" 
  srcset="https://anpg.co.ao/wp-content/uploads/2020/08/7.ANPG_OrganigramaV2-01-1024x921.png 1024w, 
  https://anpg.co.ao/wp-content/uploads/2020/08/7.ANPG_OrganigramaV2-01-300x270.png 300w, 
  https://anpg.co.ao/wp-content/uploads/2020/08/7.ANPG_OrganigramaV2-01-768x691.png 768w, 
  https://anpg.co.ao/wp-content/uploads/2020/08/7.ANPG_OrganigramaV2-01.png 1038w" 
  sizes="(max-width: 1024px) 100vw, 1024px"> -- >
</ion-card> -->
</ion-content>
