<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>      
      <img src="assets/icon/LogoSpashScreen.svg"> <span style="position:absolute;padding:35px;vertical-align: middle;font-weight: 800;font-family: Verdana, Geneva, Tahoma, sans-serif;">FAQ</span>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-mi-accordion 
     *ngFor="let faq of faqs$ | async" 
     name="{{ faq.title }}" 
     description="{{ faq.answer }}" 
    > </app-mi-accordion>
</ion-content>
