ion-content {
  --background: darkred url('../../../assets/img/angola2x.png') no-repeat center center / cover;
}
ion-content ion-toolbar {
  --background: translucent;
}

.card-button-img{
  margin-right: 10px;
  padding-right: 10px;
}

.card-button{
  margin-left: 0px;
  padding: 0px;
  border-radius: 12px;
  height: 60px;
  padding-top: 5px;
  margin-bottom: 0px;
  margin-top: 0px;
}

.card-button-text {
	font-family: FranklinGothic-Medium;														 
}

.bottom-card-button-img {
  width: 30px;
  padding-left: 2px;
  padding-right: 5px;;
}
ion-card, ion-item{  
  opacity: 0.8;
  fill: rgba(224,225,227,1);
}