<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Missão, Visão, Valores</ion-title>
  </ion-toolbar>
</ion-header>
 -->
  <ion-content>
    <app-header></app-header>
    <ion-row style="padding-top: 40px;">
      <ion-col>
        <ion-item lines="full">
          <ion-label class="ion-text-wrap pacote-header">
            Missão
        </ion-label>
        </ion-item>
        </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item lines="full">
          <ion-label class="ion-text-wrap pacote-header">
            Maximizar a criação de valor para o Estado através de uma gestão eficiente e responsável dos recursos de petróleo e gás.
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item lines="full">
          <ion-label class="ion-text-wrap pacote-header">
            Visão
        </ion-label>
        </ion-item>
        </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item lines="full">
          <ion-label class="ion-text-wrap pacote-header">
            Tornar a ANPG numa entidade de referência internacional, promovendo um ambiente de negócio de excelência e local de escolha para os investidores.
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item lines="full">
          <ion-label class="ion-text-wrap pacote-header">
           Valores
          </ion-label>
        </ion-item>
        </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item lines="full">
          <ion-label class="ion-text-wrap pacote-header">
            -Comunicação Efectiva
-Trabalho em Equipa e Valorização do Capital Humano
-Transparência
-Alto Comprometimento e Respeito pelos intervenientes (Stakeholders)
-Foco em Saúde, Segurança e Ambiente
-Conduta Ética e Integridade
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>

  </ion-content>
