<ion-content>
  <app-header></app-header>
  <!-- <ion-header collapse="condense" style="background-color: gray; color:white;">
    <ion-toolbar>
      <ion-title size="large">Licitações</ion-title>
    </ion-toolbar>
  </ion-header> -->
  <ion-row style="padding-top: 40px;" routerLink="decreto1">
    <ion-col>
      <ion-item lines="full">
        <ion-label class="ion-text-wrap pacote-header">
          Decreto Legislativo Presidencial nº3/12
        </ion-label>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row routerLink="decreto2">
    <ion-col>
      <ion-item lines="full">
        <ion-label class="ion-text-wrap">
          Decreto Lei nº 17/9
        </ion-label>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row routerLink="decreto3">
    <ion-col>
      <ion-item lines="full">
        <ion-label class="ion-text-wrap">
          Decreto Lei nº 2/12
        </ion-label>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row routerLink="decreto4">
    <ion-col>
      <ion-item lines="full">
        <ion-label class="ion-text-wrap">
          Lei Sobre o Regime Aduaneiro Aplicavel ao sec. Petrolífero nº11/04
        </ion-label>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row routerLink="decreto5">
    <ion-col>
      <ion-item lines="full">
        <ion-label class="ion-text-wrap">
          Lei Sobre a Tributação das Actividades Petrolíferas nº13/04
        </ion-label>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row routerLink="decreto6">
    <ion-col>
      <ion-item lines="full">
        <ion-label class="ion-text-wrap">
          Decreto Presidencial nº86/18
        </ion-label>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row routerLink="decreto7">
    <ion-col>
      <ion-item lines="full">
        <ion-label class="ion-text-wrap">
          Decreto Presidencial nº 52/19
        </ion-label>
      </ion-item>
    </ion-col>
  </ion-row>
</ion-content>
 