::ng-deep .tabs-back  .tab-nav{
    background-color: transparent  !important;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
    background-image: url("/assets/img/plataforma.png") !important; background-size: cover; 
 }

 .show-tabbar{
    background-color: transparent  !important;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
    background-image: url("/assets/img/plataforma.png") !important; background-size: cover; 
 }
