<div style="position: absolute;bottom: 0;left: 0;width: 100%;opacity: 0.8;fill: rgba(224,225,227,1);">
  <ion-grid>
    <ion-row class="ion-align-self-center">
      <ion-col>
        <ion-card style="background-color: whitesmoke; color:#000;" class="card-button-cotacao">
        <div>        
            <table style="width:100%;line-height: 24px;">
              <tr>
                <ng-container *ngFor="let price of oilPrice$ | async">
                  <td rowspan="3">
                    <img src="{{ price.img }}" class="bottom-card-button-img">
                  </td>            
                  <td class="card-button-text"><p style="line-height: 15px;">
                    {{ price.label }}
                  <br>{{ price.formatted }}</p></td>
                </ng-container>
              </tr>
            </table>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>